# The Individual Plan #    
## Imoprting data ##

https://github.com/Timzhou246/DSCI-100-Individual-plan.git

In [8]:
library(tidyverse)

players <- read_csv("data/players.csv")
dim(players); head(players)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

[1] 196   7

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21
6 Adrian    Female 17

In [9]:
distinct(players, experience)
distinct(players, subscribe)
distinct(players, gender)

  experience
1 Pro
2 Veteran
3 Amateur
4 Regular
5 Beginner

  subscribe
1  TRUE
2 FALSE

  gender
1 Male
2 Female
3 Non-binary
4 Prefer not to say
5 Agender
6 Two-Spirited
7 Other

## Data Discription ##  
There are 199 observations and 9 variables, the variables are:  
+ `experience`: charactor, describe the experience level of the player.    
+ `subscibe`: logical, shows whether player has subscribe the game info. "ture" shows player has subscribe; "fasle" shows player has not subscribe.   
+ `hashedEmail`: charactor, represents each player's email address, it's used for private protection.  
+ `played_hours`: double, shows how many hours has player played in total.  
+ `name`: charactor, shows the username of each player.  
+ `gender`: charactor, indicates the gender identity of players. Value includes Male, Female, Non-binary, Prefer not to say, Agender, Two-Spirited, and Other.  
+ `age`: double, represents the age of each individual player.

### Potential issues ###

1. There are some missing data in the variables. For example, the age variable has missing values (N/A) for some players. This may lead to biased results when performing statistical analyses.  
2. For the gender part, the quantities of  "Agender", "Other" are too small compare to "male" and "female". It might effect the result of visualization. We could combine data which is not "male", "female" together into form "other" group to make data more easier to interpret.  
3. There might be some invalid numeric values in the dataset. For example, played_hours could contain zero or extremely large numbers, which are unrealistic and may distort summary statistics.